<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation" class="card">
      <span><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</span>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :client %></br>
    <%= f.text_field :client %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions center col s12 ">
    <%= f.submit  class:"col s12 btn btn-primary orange "%>
  <hr />
  </div>
  <% end %>
