<!-- adds the ADD JOB button to the top -->
<div class="row">
  <div class="container  center">
    <%= link_to "Add New Job", new_job_path(@job), class:"waves-effect waves-light btn white-text col s12 center orange" %>
  </div>
</div>

<!-- Dispalys all the jobs with the times nested inside -->
<%#= render "form" %>
<% @jobs.each do |job| %>
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class="col s6"> <!-- Displays the TITLE, CLIENT, DESCRIPTION -->
        <%= link_to 'Edit This Job', edit_job_path(job), class:"btn waves-effect waves-teal btn-flat right white-text" %>
        <span class="card-title" ><%= job.title %> for <%= job.client %></span>
        <p><%= job.description %></p>
      </div>
      <div class="col s6 center orange-text"> <!-- This displays TOTAL TIME FOR THE JOB -->
        <% hrs = job.timers.sum(:hours) + (job.timers.sum(:minutes) / 60) %>
        <% mins = (job.timers.sum(:minutes) % 60) %>
        <h5> Total Time <%= hrs  %> : <%= mins %></h5>
      </div>
    </div>
    <span><%= render :partial => './timers/index_timer', locals: {timers: job.timers }%></span>
    <%= link_to 'Add More Time', new_job_timer_path(job), class:"btn waves-effect waves-teal btn-flat white-text" %>
  </div>
</div>

<% end %>
