<!-- adds the ADD JOB button to the top -->
<div class="row">
  <div class="container  center">
    <%= link_to "Add New Job", new_job_path(@job), class:"waves-effect waves-light btn white-text col s12 center orange" %>
  </div>
</div>
  <%#= render :partial => "new_form" %>
</div>
<!-- Dispalys all the jobs with the times nested inside -->
<% @jobs.order('created_at DESC').each do |job| %>

<% if current_user.id == job.user_id %>

<div class="container">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class=" col s12"> <!-- Displays the TITLE, CLIENT, DESCRIPTION -->
        <%= link_to 'Edit This Job', edit_job_path(job), class:"btn waves-effect waves-teal btn-flat right white-text" %>
        <span class="card-title" ><%= job.title %> for <strong><%= job.client %></strong></span>
        <p><strong><%= job.description %></strong></p>
        <p>created by: <%= current_user.email %></p>
      </div>

      <div class="col s12 center orange-text"> <!-- This displays TOTAL TIME FOR THE JOB -->
        <% hrs = job.timers.sum(:hours) + (job.timers.sum(:minutes) / 60) %>
        <% mins = (job.timers.sum(:minutes) % 60) %>
        <% if mins == 0 %>
          <%  mins = "00" %>
        <% end %>

        <h5 class="left"> Total Time <strong><%= hrs  %> : <%= mins %></strong></h5>

        <%#= render partial: "./timers/form", locals: {timers: job.timers } %>

        <%= link_to 'Add More Time', new_job_timer_path(job), class:"btn  white-text right" %>
      </div>
      <div class="col s12 blue-grey-text">
        <%= render :partial => './timers/index_timer', locals: {timers: job.timers }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
