<!-- <h4>All Jobs</h4> -->

<%#= render "form" %>
<% @jobs.each do |job| %>
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
    <%= link_to 'Edit This Job', edit_job_path(job), class:"btn waves-effect waves-teal btn-flat right white-text" %>
    <span class="card-title" ><%= job.title %> for <%= job.client %></span>
    <p><%= job.description %></p>
    </div>
    <span><%= render :partial => './timers/index_timer', locals: {timers: job.timers }%></span>
    <%= link_to 'Add More Time', new_job_timer_path(job), class:"btn waves-effect waves-teal btn-flat white-text" %>
  </div>
</div>

<% end %>
