<p id="notice"><%= notice %></p>
<div class="card blue-grey darken-1">
  <div class="card-content white-text">
      <span class="card-title"><%= @job.title %></span>
      <p><%= @job.client %> | <%= @job.description %></p>
      <p><%= @job.owner %></p>
  </div>
  <div class="card-action">
    <%= link_to 'Edit This Job', edit_job_path(@job) %>
    <%= link_to 'Show All Jobs', jobs_path %>
  </div>
</div>
