<div class="container">
  <div class="card row">
    <h3 class= "center">Forgot your password?</h3>
    <div class="container-content col s12">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions center col s12 valign">
          <%= f.submit "Send me reset password instructions", class:"col s12 btn btn-primary orange"  %>
        </div>
      <% end %>
      <br/><br/>
      <%= render "devise/shared/links" %>


    </div>
  </div>
</div>
