<div class="card">
<!-- <h4>New Timer</h4> -->
<%= form_for([@timers.job, @timers]) do |f| %>
  <% if @timers.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timers.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
      <% @timers.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col s2">
    <%= f.label :hours %>
    <%= f.number_field :hours %>
  </div>

  <div class="col s2">
    <%= f.label :minutes %>
    <%= f.number_field :minutes %>
  </div>

  <div class="col s8">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div class="field"> <!-- this needs to add the proper job_id -->
    <%= f.hidden_field :job_id, value: @timers.job_id %>
  </div>

  <div class="actions center col s12 margin-bottom">
    <%= f.submit "Add Time", class:"col s12 btn btn-primary orange" %>
  </div>
</div>
<% end %>
<br />
