<!-- <div class="row"> -->
<!-- used this class to change size of table <div class="table-nested"> -->
<!-- <p id="notice"><%#= notice %></p> -->
<div class="col s11 center">
<table class="card striped">
  <thead>
    <tr>
      <th class="center">Hours</th>
      <th class="center">Minutes</th>
      <th>What I did</th>

      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>

      <% timers.each do |timer| %>
      <tr>
        <td class="center"><strong><%= timer.hours %></strong></td>
        <td class="center"><strong><%= timer.minutes %></strong></td>
        <td class=""><%= timer.description %></td>
        <td><%= link_to 'Edit', edit_job_timer_path(timer.job, timer), class:"" %></td>
        <td><%= link_to 'Delete', [timer.job, timer], method: :delete, data: { confirm: 'Are you sure?' }, class: " " %></td>

      </tr>
    <% end %>

  </tbody>
</table>
</div>
</div>
