<div class="container">
  <div class="card row">
    <h3 class= "center">Time Added</h3>
    <div class="container-content col s12">
    <span class="card-title center">Added: <strong><%= @timer.hours %>:<%= @timer.minutes %></strong> to <%= @timer.job.title %></span>
    <p><%= @timer.description %></p>
  </div>
  <div class="container-content col s12 margin-bottom ">
    <%= link_to 'Show All Jobs', jobs_path, class:"btn col s12 white-text margin-bottom" %>
    <%= link_to 'Edit this Time Entry', edit_job_timer_path(@timer.job, @timer), class:"btn col s12 white-text"  %>
  </div>
</div>
</div>
