<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @timer.hours %>
</p>
<p>
  <strong>Time:</strong>
  <%= @timer.minutes %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timer.description %>
</p>

<p>  
  <strong>Job:</strong>
  <%= @timer.job.title %>
</p>

<%= link_to 'Edit', edit_job_timer_path(@timer.job, @timer) %>
