<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @timer.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timer.description %>
</p>

<p>
  <strong>Job:</strong>
  <%= @timer.job %>
</p>

<%= link_to 'Edit', edit_timer_path(@timer) %> |
<%= link_to 'Back', timers_path %>
