<!DOCTYPE html>
<html>
  <head>
    <title>Timyr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>

  <body>
    <div class="navbar-fixed">
    <nav class="orange lighten-2 orange-text text-darken-4">
      <div class="nav-wrapper container">
        <a class="brand-logo orange-text text-darken-4 drop-shadow" href="/">Job Tymr</a>

        <% if user_signed_in? %>
        <ul class="right ">
          <li >Signed in as <%= current_user.email %></li>
          <li  ><%= link_to "Logout", destroy_user_session_path, method: "delete", class: "waves-effect waves-light btn white-text valign", id: "nav-mobile" %></li>
        <% else %>
        <% end %>
      </ul>
      </div>
    </nav>
    </div>
    <div class= "container row">
      <% if notice %>
        <p class="alert alert-success center col s12"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger center col s12"><%= alert %></p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>

        <footer class="page-footer orange lighten-2 ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="orange-text text-darken-4">About <span class="brand-logo drop-shadow">Job Tymr</span></h5>
                <p class="orange-text text-darken-4">Use this service to keep track of the time it takes to get your work done. This was created by Neil Burdick for the <a href="https://generalassemb.ly/" class="deep-orange-text text-accent-4">General Assembly</a> WDI program.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="orange-text text-darken-4 brand-logo">My Links</h5>
                <ul>
                  <li><a class="orange-text text-darken-4" href="https://github.com/neilburd">Github</a></li>
                  <li><a class="orange-text text-darken-4" href="https://www.linkedin.com/in/neil-burdick-8a0b7a2b">LinkedIn 2</a></li>
                  <li><a class="orange-text text-darken-4" href="https://www.instagram.com/neil_burdick/">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright orange-text text-darken-4">
            <div class="container">
            © 2017 Copyright* Neil Burdick
            </div>
          </div>
        </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
