<!DOCTYPE html>
<html>
  <head>
    <title>Timekeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>

  <body>
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" href="/">TimeKeeper</a>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: "delete", class: "right waves-effect waves-light btn-large", id: "nav-mobile" %>
        <% else %>
        <% end %>
      </div>
    </nav>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        TimeKeeper 2017
      </div>
    </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
